Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SOFTWARE\FSLogix\Profiles]
"Enabled"=dword:00000001
"DeleteLocalProfileWhenVHDShouldApply"=dword:00000001
"SizeInMBs"=dword:00008000
"IsDynamic"=dword:00000001
"LockedRetryCount"=dword:00000001
"LockedRetryInterval"=dword:00000000
"FlipFlopProfileDirectoryName"=dword:00000001
"VolumeType"="vhdx"
"VHDXSectorSize"=dword:00001000
"RoamIdentity"=dword:00000001

[HKEY_LOCAL_MACHINE\SOFTWARE\FSLogix\Apps]
"CleanupInvalidSessions"=dword:00000001
"VHDCompactDisk"=dword:00000001

[HKEY_LOCAL_MACHINE\SOFTWARE\Policies\FSLogix\ODFC]
"Enabled"=dword:00000001
"IncludeOfficeActivation"=dword:00000001
